@media only screen and (max-width: 600px) {
  #u > svg {
    width: 22vw !important;
    height: 100%; 
  }
  
  #v > svg{
    width: 26vw !important;
    height: 105%;
  }
  
  #m > svg {
    width: 40vw !important;
    height: 100%;
  }
  .logo-caption {
    padding-right: .5rem !important;
  }

  .logo {
    gap:.3rem !important;
  }

}

@font-face {
  font-family: "grotesk remix";
  src: url(./assets/font/GroteskRemix-Regular.woff);
}

/* ::-webkit-scrollbar {
  display: none;
} */


body {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow:auto;
  margin: 0;
  padding: 0;
  font-family: "grotesk remix";
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% -23rem);
  padding: 1rem;
}

.logo {
  width: 100%;
  display: flex;
  gap:.9rem;
  justify-content: flex-start;
}

.logo > div {
  display: flex;
  align-items: center;
}

#u > svg {
  width: 23.5vw;
  height: 100%; 
}

#v > svg{
  width: 27.5vw;
  height: 105%;
}

#m > svg {
  width: 41.5vw;
  height: 100%;
}

section {
  margin: 1rem 0 1rem 0;
}

.intro {
  font-size: 1.5rem;
  width: 100%;
}

.logo-caption {
  padding-right: 1rem;
}