/* @media only screen and (max-width: 600px) {
  svg {
    height: 26.5vh !important;
  }
  html, body {
    overflow: visible;
  }
} */

@font-face {
  font-family: "grotesk remix";
  src: url(./assets/font/GroteskRemix-Regular.woff);
}

html {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "grotesk remix";
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  padding: 1.1rem;
}

.logo {
  width: calc(100% - 2.2rem);
  padding: 1.1rem;
  display: flex;
  justify-content: flex-start;
  }

.logo > div {
  width: calc((100% - 2.2rem) / 3.75);
  height: auto;
}

#v {
  margin-left: .5rem;
  margin-right: 1.2rem;
}

svg {
  height: 100%;
}

p {
  width: fit-content;
}


.logo-caption{
  font-size: 3.1rem;
}

.intro {
  font-size: 1.5rem;
}